body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
	color: rgb(255, 75, 75);
}

h1 {
	color: rgb(225, 70, 70);
	position: relative;
	top: 220px;
	left: 0px;
	text-align: center;
	/* Align text at center at the end so it moves up and down with the window*/

}

.Getstarted {
	background-color: rgb(255, 75, 75);
	color: black;
	position: relative;
	top: 370px;
	left: 500px;
	border-radius: 300px;
	padding: 1rem 2rem; 
	border-color: rgb(255, 75, 75);
}

.Getstarted:hover {
	background-color: rgb(225, 70, 70);
	border-color: rgb(225, 70, 70);
	cursor: pointer;
}